<div id="annoeditor-sidebar"
  :class="[
    ...decideTopLevelCssClasses(),
    'annoeditor-sidebar',
    `access-${isLoggedIn ? 'logged-in' : 'guest'}`,
    `annoeditor-appmode-${appMode}`,
    ].filter(Boolean)"
  :data-appmode="appMode"
  :data-number-of-annotations="numberOfAnnotations"
  >
  <div class="annoeditor-sidebar-body">

    <div v-if="msgBoxes.length" class="msgboxes">
      <div v-for="box in msgBoxes"
        :class="[
          'msgbox',
        ].concat(box.cls).filter(Boolean)"
        >
        <div class="btn-group float-right hidden-print" role="group">
          <bootstrap-button @click="updateMsgBox(null, box)"
            btn-class="close"
            aria-label="Close"
            icon-fa="close"
            />
        </div>
        <p class="msg">
          <b class="type" v-if="box.msgTypePrefix"
            >{{ box.msgTypePrefix }}</b>
          <span class="body">{{ box.msg }}</span>
        </p>
        <p class="hint" v-if="box.hint">
          <b class="type"
            >{{ l10n('hint:') }}</b>
          <span class="body">{{ box.hint }}</span>
        </p>
      </div>
    </div><!-- .msgboxes -->

    <div class="lurk-mode-wrapper"
      v-for="lm in [compileLurkModeDetails()]">
      <div class="m-3 lurk-mode-lurking" v-if="lm">
        <div class="row lurk-hourglass lurk-explained">
          <div class="col col-sm-1 lurk-hourglass"
            ><p class="mt-1">&#x231B;</p></div>
          <div class="col col-xl lurk-explained"
            ><p>{{ lm.explained }}</p></div>
        </div>
        <div class="row lurk-waiting">
          <div class="col col-xl lurk-waiting"
            ><p>{{ lm.waiting }}</p></div>
        </div>
        <div class="row lurk-offer-abort">
          <div class="col col-xl text-center lurk-offer-abort">
            <bootstrap-button icon-fa="close"
              @click="abortLurkMode('FORCE_ABORT_ANY')"
              >{{ lm.abortButtonCaption }}
            </bootstrap-button>
          </div>
        </div>
      </div><!-- .lurk-mode-lurking -->
    </div><!-- .lurk-mode-wrapper -->

    <anno-list ref="annoList" v-if="appMode === 'list'"
      v-show="!$store.state.lurkMode">
      <div v-if="noAnnotsReason"
        slot="annot-list-empty"
        :class="[
          'msgbox',
          'no-annots',
          'reason-' + noAnnotsReason.code,
          ((noAnnotsReason.code === 'loadfail') && 'error'),
        ].filter(Boolean)"
        :data-reason="noAnnotsReason.code">
        <p class="msg">{{ noAnnotsReason.msg }}</p>
      </div>
    </anno-list>

    <anno-cmp-mode ref="annoCmp" v-if="appMode === 'cmp'"
      v-show="!$store.state.lurkMode">
    </anno-cmp-mode>
  </div>

  <div class="anno-editor-modal-wrapper">
    <anno-editor-modal ref="modalEditor"
      :editor-id="`${prefix}-modal-editor`"
      />
  </div>

</div><!-- /#annoeditor-sidebar -->
