<div id="annoeditor-sidebar"
  :class="[
    ...decideTopLevelCssClasses(),
    'annoeditor-sidebar',
    `access-${isLoggedIn ? 'logged-in' : 'guest'}`,
    `annoeditor-appmpde-${appMode}`,
    ].filter(Boolean)"
  :data-number-of-annotations="numberOfAnnotations"
  >
  <div class="annoeditor-sidebar-body">

    <div v-if="msgBoxes.length" class="msgboxes">
      <div v-for="box in msgBoxes"
        :class="[
          'msgbox',
        ].concat(box.cls).filter(Boolean)"
        >
        <div class="btn-group pull-right hidden-print" role="group">
          <bootstrap-button @click="updateMsgBox(null, box)"
            btn-class="close"
            aria-label="Close"
            icon-fa="close"
            />
        </div>
        <p class="msg">
          <b class="type" v-if="box.msgTypePrefix"
            >{{ box.msgTypePrefix }}</b>
          <span class="body">{{ box.msg }}</span>
        </p>
        <p class="hint" v-if="box.hint">
          <b class="type"
            >{{ l10n('hint:') }}</b>
          <span class="body">{{ box.hint }}</span>
        </p>
      </div>
    </div><!-- .msgboxes -->

    <anno-list ref="annoList"
      v-if="appMode === 'list'"
      >
      <div v-if="noAnnotsReason"
        slot="annot-list-empty"
        :class="[
          'msgbox',
          'no-annots',
          'reason-' + noAnnotsReason.code,
          ((noAnnotsReason.code === 'loadfail') && 'error'),
        ].filter(Boolean)"
        :data-reason="noAnnotsReason.code">
        <p class="msg">{{ noAnnotsReason.msg }}</p>
      </div>
    </anno-list>

    <anno-cmp-mode
      v-if="appMode === 'cmp'"
      >
    </anno-cmp-mode>
  </div>

  <div class="anno-editor-modal-wrapper">
    <anno-editor-modal ref="modalEditor"
      :editor-id="`${prefix}-modal-editor`"
      />
  </div>

</div><!-- /#annoeditor-sidebar -->
