<div class="card panel panel-default drafts-panel"
  :data-editor-anno-id="editorAnnoId"
  :data-editor-anno-primary-target-url="editorAnnoPrimaryTargetUrl"
  :data-editor-anno-title="editorAnnoTitle"
  >
<div class="card-body panel-body" ref="panelBody">

<div class="save-as-draft
  border-bottom pb-4
  ">

<div class="row draft-filename-comment">
  <div class="col-xl">
    <h4>{{ l10n('save_as_draft') }}</h4>
  </div>
</div><div class="row">
  <div class="col-sm-3 pt-2">{{ l10n('draft_filename_comment') }}:</div>
  <div class="col-xl"><div class="position-relative">
    <input class="form-control" type="text"
      v-model="draftFilenameCommentCustom">
    <div class="form-control-explain filename-rules"><div>
      <div class="
        border
        border-info
        rounded
        bg-light
        text-default
        smallprint
        p-2
        mb-0
        ">{{
        l10n('draft_filename_rules')
        .replace(/@@maxlen@@/g, draftFilenameCommentMaxLen)
      }}</div>
    </div></div>
  </div><!-- /.pos-rel --></div><!-- /.col-xl -->
</div><div class="row">
  <div class="col-sm-3">{{ l10n('draft_filename_adjusted') }}:</div>
  <div class="col-xl"><code>{{ draftFilenameCommentAdjusted }}</code></div>
</div><div class="row">
  <div class="col-xl">
    <div class="pull-right">
      <label><input type="checkbox" ref="saveAsTemplateCkb">
        {{ l10n('save_as_template') }}</label>
      <div class="btn-group ml-4" role="group">
        <bootstrap-button eventbus-emit="saveNewDraft"
          icon-fa="floppy-o"
          btn-class="outline-primary"
          :caption="l10n('save_as_draft')" />
      </div>
    </div>
  </div>
</div></div>

</div><!-- /.save-as-draft -->



<div class="existing-drafts-list">

<div class="row label-row">
  <div class="col-sm label-col"
    ><h4>{{ l10n('existing_drafts') }}</h4></div>
  <div class="col-sm-1 action-col">
    <div class="btn-group pull-right" role="group">
      <bootstrap-button eventbus-emit="userReloadDraftsList"
        icon-fa="refresh"
        :caption="l10n('refresh')" />
    </div>
  </div>
</div>

<div v-show="!!refreshDraftsHintVoc" class="row mb-4 drafts-list-reload-hint">
  <div class="col-xl bg-warning"><p class="m-2">
    {{ l10n('scan_draftslist_' + refreshDraftsHintVoc) }}
    {{ l10n('scan_draftslist_how') }}
  </p></div>
</div>

<div class="row list-row"><div class="col-xl">
  <div v-for="draftGroup in listDraftsGrouped()" :key="draftGroup.voc"
    class="draft-group border-bottom mb-4"
    :data-draft-group="draftGroup.voc"
    >
    <h5
      class="mb-0"
      :data-voc="draftGroup.voc"
      :data-n="draftGroup.items.length"
      >{{ l10n('draft_group_' + draftGroup.voc) }}
      <span class="number-of-items">(<var>{{
        draftGroup.items.length }}</var>)</span>
      </h5>
      <ol class="p-0 ml-0">
        <li v-for="am in draftGroup.items.map(draftMetaToApiMeta)"
          :key="draftGroup.voc + ':' + am.filename"
          :data-filename="am.filename"
          class="row"
        >
          <div class="col-sm-2 text-nowrap smallprint date-time-col"
            >{{ am.draftDate }}<br>{{ am.draftTime }}</div>
          <div class="col-sm-1 text-nowrap buttons-col">
            <bootstrap-button icon-fa="edit"
              @click="clickedListItemDatasetActionButton"
              data-action="downloadAndRestoreDraft"
              :data-draft-name="am.draftName"
              :data-draft-date="am.draftDate"
              :data-draft-time="am.draftTime"
              :title="l10n('edit_draft')"
              />
            <bootstrap-button icon-text="🗑"
              @click="clickedListItemDatasetActionButton"
              data-action="reallyDeleteDraft"
              :data-confirm-item-descr="[
                am.draftDate,
                am.draftTime,
                am.draftName,
                ].join(', ')"
              :title="l10n('delete_draft')"
              />
          </div>
          <div class="col-xl custom-name-part-col"
            >{{ am.draftName }}</div>
        </li>
      </ol>
    </div>
  </div>
</div></div><!-- /.col-xl /.row -->



</div></div>

</div><!-- /.existing-drafts-list -->

</div><!-- /.card-body -->
</div><!-- /.card panel -->
