<div class="card panel panel-default drafts-panel">
<div class="card-body panel-body">

<msgbox-row ref="statusMsg" />

<div class="existing-drafts-list">

<div class="row label-row">
  <div class="col-sm label-col"
    ><h4>{{ l10n('existing_drafts') }}</h4></div>
  <div class="col-sm-1 action-col">
    <div class="btn-group pull-right" role="group">
      <bootstrap-button eventbus-emit="reloadDraftsList"
        icon-fa="refresh"
        :caption="l10n('refresh')" />
    </div>
  </div>
</div>

<div v-show="!!refreshDraftsHintVoc" class="row mb-4 drafts-list-reload-hint">
  <div class="col-xl bg-warning"><p class="m-2">
    {{ l10n('scan_draftslist_' + refreshDraftsHintVoc) }}
    {{ l10n('scan_draftslist_how') }}
  </p></div>
</div>

<div class="row list-row"><div class="col-xl">
  <div v-for="draftGroup in listDraftsGrouped()" :key="draftGroup.voc"
    class="draft-group border-bottom mb-4"
    :data-draft-group="draftGroup.voc"
    >
    <h5
      class="mb-0"
      :data-voc="draftGroup.voc"
      :data-n="draftGroup.items.length"
      >{{ l10n('draft_group_' + draftGroup.voc) }}
      <span class="number-of-items">(<var>{{
        draftGroup.items.length }}</var>)</span>
      </h5>
      <ol>
        <li v-for="draftMeta in draftGroup.items"
          :key="draftGroup.voc + ':' + draftMeta.fileName"
          :data-filename="draftMeta.fileName"
        >{{ draftMeta.fileName }}
          <bootstrap-button @click="clickedRestoreDraft" icon-fa="edit" />
        </li>
      </ol>
    </div>
  </div>
</div></div><!-- /.col-xl /.row -->



</div></div>

</div><!-- /.existing-drafts-list -->

</div><!-- /.card-body -->
</div><!-- /.card panel -->
