.drafts-panel {

  var { font-style: inherit; }

  .smallprint {
    font-size: 85%;
    line-height: 1.2;
  }

  .form-control-explain {
    display: none;
    position: absolute; left: 0; right: 0; top: 0;
  }
  input:focus + .form-control-explain { display: block; }
  .form-control-explain > div {
    position: absolute; left: 0; right: 0; bottom: 2px;
  }

  .draft-group ol { list-style-type: none; }

  .draft-group ol .date-time-col { text-align: right; }


}
