<div
  :class="[
    'annocmp-wrapper',
    `annocmp-layout-${priSide}-${secSide}`,
    ].filter(Boolean)"
  >

  <div class="
    debug-feature
    pos-abs-top-right
    debug-button-force-compose-wrapper
    ">
    <bootstrap-button caption="⚙" btn-class="
      outline-secondary
      debug-button-force-compose
      " eventbus-emit="create" />
  </div>

  <div class="
    annocmp-side
    annocmp-primary-side
    border
    border-secondary
    ">
    <div class="row header"><div class="col-lg">
      <select ref="layoutChooser" v-model="priSide">
        <option v-for="layout in ['only', 'left', 'top']"
          :value="layout">{{ l10n('cmp_layout_' + layout) }}</option>
      </select>
      <anno-cmp-ver-chooser
        ref="priVerChooser"
        :choice="priVerChoice"
        :api="{ getVersions() { return reverseOrderKnownVersions; } }"
        />
    </div></div>
    <div class="row content"><div class="col-lg"
      v-for="cached in [getSideAnnoData('pri')]" :key="cached.vueKey">
      <anno-viewer v-if="cached.fetchedAt"
        :annotation="cached.anno || {}"></anno-viewer>
      <p class="loading" v-else>{{ l10n('anno_list:loading') }}</p>
    </div></div>
  </div>

  <div class="
    annocmp-side
    annocmp-secondary-side
    border
    border-secondary
    "
    v-if="priSide !== 'only'"
    >
    <div class="row header"><div class="col-lg">
      {{ l10n('cmp_layout_' + secSide) }}
      <anno-cmp-ver-chooser
        ref="secVerChooser"
        :choice="secVerChoice"
        :api="{ getVersions() { return reverseOrderKnownVersions; } }"
        />
    </div></div>
    <div class="row content"><div class="col-lg"
      v-for="cached in [getSideAnnoData('sec')]" :key="cached.vueKey">
      <anno-viewer v-if="cached.fetchedAt"
        :annotation="cached.anno || {}"></anno-viewer>
      <p class="loading" v-else>{{ l10n('anno_list:loading') }}</p>
    </div></div>
  </div>

  <div class="unfloat annocmp-clear-sides"></div>

</div><!-- /.annocmp-wrapper -->
