.annoeditor-global-css .annocmp-wrapper {

  position: relative;

  .annocmp-side {
    width: 100%;
    overflow: auto;
  }

  &.annocmp-layout-top-bottom {
    .annocmp-primary-side { margin-bottom: 2em; }
  }
  &.annocmp-layout-left-right {
    .annocmp-side {
      width: 50%;
      float: left;
    }
  }

  .unfloat { clear: both; }

  .row.header { margin-bottom: 0.5em; }


}
