<div class="
  annoeditor-list
  "
  :data-number-of-annots="annos.length"
  >
  <div class="btn-group
    anno-list-buttonbar-top
    pull-left
    hidden-print
    " role="group">

    <template v-if="$store.state.offerCreateNewAnnotationButton">
      <template v-if="checkAclAuth('create')">
        <bootstrap-button eventbus-emit="create"
          btn-class="success create-new-annotation-button"
          :caption="l10n('compose_new_annot')" />
        <template v-if="isLoggedIn">
          <!-- authorized AND logged in -->
          <help-button topic="popover-logged-in" />
        </template><!-- logged in but no access -->
      </template><!-- authorized -->
      <template v-else><!-- not authorized -->

        <bootstrap-button ref="btnAclRequestCreate"
          v-if="$store.state.permissionsRequestFormUrl
            && ($store.state.permissionsRequestAllowGuest || isLoggedIn)"
          btn-class="outline-secondary
            create-new-annotation-button
            decoy
            acl-request-create
          "
          balloon-color="body"
          >
          {{ l10n('compose_new_annot') }}
          <div slot="balloon">
            <p>{{ l10n('not_authorized') }}</p>
            <a :href="$store.state.permissionsRequestFormUrl"
              target="_blank"
              class="btn btn-sm
                btn-default
                btn-outline-success"
            >{{ l10n('request_permission_now') }}</a>
          </div>
        </bootstrap-button>
        <template v-if="isLoggedIn">
          <!-- not authorized even though we're logged in -->
          <help-button topic="popover-not-authorized" />
        </template><!-- logged in but no access -->
      </template><!-- not authorized -->
    </template><!-- offerCreateNewAnnotationButton -->

  </div><!-- .anno-list-buttonbar-top.pull-left -->

  <div class="btn-group
    anno-list-buttonbar-top
    pull-right
    hidden-print
    " role="group">

    <bootstrap-button caption="⚙" btn-class="
      outline-secondary
      pull-right
      debug-feature
      debug-button-force-compose
      " eventbus-emit="create" />

    <bootstrap-button ref="btnCollapseAll"
      @click="collapseAll('toggle')"
      v-if="numberOfAnnotations"
      btn-class="outline-secondary"
      :data-state="collapsed ? 'hide' : 'show'"
      :icon-fa="collapsed ? 'plus' : 'minus'"
      :caption="collapsed ? l10n('open_all') : l10n('close_all')"
      />

    <bootstrap-btnbar-dropdown ref="ddSort"
      v-if="numberOfAnnotations"
      icon-fa="sort"
      :caption="l10n('sort')"
      >
      <template v-for="sortProp in [
        'created',
        'modified',
        'title',
        'creator',
        ]">
        <component :is="bootstrapOpts.tags.dropdownMenuItem"
          v-for="sortOrder in ['az', 'za']"
          :key="`sort_${sortProp}_${sortOrder}`"
          :class="[
            'criterion',
            bootstrapOpts.tags.dropdownMenuItemCls,
            bootstrapOpts.tags.dropdownMenuItemBtnCls,
            'text-nowrap',
            ((sortedBy === `${sortProp}_${sortOrder}`) &&
              bootstrapOpts.tags.dropdownMenuItemChosen),
            'sort-prop-' + sortProp,
            'sort-order-' + sortOrder,
          ].filter(Boolean)"
          @click="sort(`${sortProp}_${sortOrder}`); collapseAll('hide');"
          :data-sort-prop="sortProp"
          :data-sort-order="sortOrder"
          >{{ l10n(`sort_prop_${sortProp}`) }}
            <span :title="l10n(`sort_order_word_${sortOrder}`)"
              >{{ l10n(`sort_order_symbol_${sortOrder}`) }}</span>
        </component><!-- sortOrder -->
      </template><!-- sortProp -->
    </bootstrap-btnbar-dropdown><!-- ddSort -->

    <bootstrap-btnbar-dropdown ref="ddUser"
      :icon-fa="'user' + (isLoggedIn ? '' : '-secret')"
      :caption="userSessionInfo.userId || l10n('guest_identity_short')"
      >
      <template v-if="isLoggedIn">
        <component :is="bootstrapOpts.tags.dropdownMenuItem"
          :class="[
            bootstrapOpts.tags.dropdownMenuItemCls,
            bootstrapOpts.tags.dropdownMenuItemBtnCls,
            'ddi-session-logout',
          ].filter(Boolean)"
          v-if="logoutButtonVisible"
          ><bootstrap-button ref="btnLogout"
            class="btn-session-logout"
            :caption="l10n('logout')"
            :linkUrl="logoutButtonUrl"
            @click="logoutButtonClicked"
          />
        </component><!-- dropdownMenuItem -->
        <component :is="bootstrapOpts.tags.dropdownMenuItem"
          :class="[
            bootstrapOpts.tags.dropdownMenuItemCls,
            bootstrapOpts.tags.dropdownMenuItemBtnCls,
            'ddi-session-valid-until',
          ].filter(Boolean)"
          v-for="renewUts in [userSessionInfo.renewalAvailableBefore]"
          key="renewUts"
          v-if="renewUts"
          ><template v-for="jsDate in [new Date(renewUts * 1e3)]">
            {{ l10n('session_valid_until') }}:
            <bootstrap-button ref="btnRenewSession"
              icon-fa="refresh"
              @click="tryRenewSession"
            /><br>
            <time :data-uts="renewUts" :title="String(jsDate)">
              {{ jsDate.toLocaleDateString() }}<br>
              {{ jsDate.toLocaleTimeString() }}
              </time>
          </template><!-- v-for="jsDate" -->
        </component><!-- dropdownMenuItem -->
      </template><!-- isLoggedIn -->
      <template v-else><!-- guest session -->

        <component :is="bootstrapOpts.tags.dropdownMenuItem"
          v-if="$store.state.loginFormUrl"
          :class="[
            bootstrapOpts.tags.dropdownMenuItemCls,
            bootstrapOpts.tags.dropdownMenuItemBtnCls,
            'ddi-session-login',
          ].filter(Boolean)"
          ><bootstrap-button ref="btnRenewSession"
            :caption="l10n('login')"
            :linkUrl="$store.state.loginFormUrl"
          />
          <help-button topic="popover-not-logged-in" />
        </component><!-- dropdownMenuItem -->

        <component :is="bootstrapOpts.tags.dropdownMenuItem"
          v-if="$store.state.loginRegistrationFormUrl"
          :class="[
            bootstrapOpts.tags.dropdownMenuItemCls,
            bootstrapOpts.tags.dropdownMenuItemBtnCls,
            'ddi-session-register',
          ].filter(Boolean)"
          ><bootstrap-button ref="btnRegisterUserAccount"
            :caption="l10n('register')"
            :linkUrl="$store.state.loginRegistrationFormUrl"
          />
          <help-button topic="popover-not-logged-in" />
        </component><!-- dropdownMenuItem -->

      </template><!-- guest session -->
    </bootstrap-btnbar-dropdown>

  </div><!-- .anno-list-buttonbar-top.pull-right -->

  <div style="clear: both;"></div>

  <div class="panel-group annot-list">
    <slot name="annot-list-empty" v-if="!annos.length" />
    <anno-viewer v-for="annotation in annos" :key="annotation.id"
      :annotation="annotation"
      :purl-id="purlId"
      :as-reply="false"
      >
    </anno-viewer>
  </div>

</div>
