<div
  :class="[
    'annotation',
    'card',
    'panel',
    'panel-default',
    'anno-viewer',
    (highlighted && 'annoeditor-highlight'),
    (legacyPurlHighlight && 'annoviewer-purl-anno'),
    (asReply && 'annoviewer-asreply'),
    (otherVersionsExist() ? 'has' : 'no') + '-other-versions',
    (isOwnAnno ? 'own-anno' : 'someone-elses-anno'),
  ].filter(Boolean)"
  @mouseenter="onMouseEnter"
  @mouseleave="onMouseLeave"
  :data-doi-preview="hasRealPublicDoi ? '' : latestVersionDoiUri"
  :data-doi="hasRealPublicDoi ? latestVersionDoiUri : ''"
  :data-w3-anno-id="annoIdUrl || ''"
  :data-iana-working-copy="annotation['iana:working-copy'] || ''"
  :data-as-inreplyto="annotation['as:inReplyTo'] || ''"
  :data-target-fragment="targetFragment || ''"
  >

  <div v-if="!asReply" class="panel-heading">
    <h4 class="panel-title" @click="collapse('toggle')">
      <a role="button">
        <span class="purl-heading-pointer"
          v-if="legacyPurlHighlight"></span>
        <span class="collapse-arrow" v-if="isListViewItem"
          ><i :class="'fa fa-caret-' + (collapsed ? 'right' : 'down')"
          ></i></span>
        <span v-show="auxMeta.sunsetDescr" class="anno-sunset-icon"
          :title="auxMeta.sunsetDescr">&#x26D4;</span>
        <span v-show="approval.iconCls" :class="approval.iconCls"
          :title="approval.explain">{{ approval.iconText }}</span>
        <span v-show="Boolean(problemsWarningText)" class="
          anno-editor-error
          anno-error-annotation-problems
          danger
          "
          :title="problemsWarningText"
          >&#x26A0;</span>
        {{ title }}
      </a>
    </h4>
  </div><!-- /.panel-heading -->

  <div role="tabpanel"
    class="card-body panel-body"
    v-show="!collapsed">

    <div v-show="Boolean(problemsWarningText)" class="
      anno-editor-error
      anno-error-annotation-problems
      danger
      ">&#x26A0; {{ problemsWarningText }} &#x26A0;</div>

    <div v-if="annotation['skos:note']" class="anno-skos-note">
      <p>{{ annotation['skos:note'] }}</p>
    </div>

    <div role="toolbar" class="btn-toolbar
      anno-body-buttonbar
      anno-body-buttonbar-top
      ">
      <div role="group"
        class="btn-group btn-group-sm">

        <button ref="sunsetWarningButton"
          v-if="auxMeta.sunsetDescr" :title="auxMeta.sunsetDescr"
          class="btn btn-sm btn-secondary anno-sunset-btn">
          <span class="button-caption">&#x26D4;</span>
        </button><!-- /ref="sunsetWarningButton" -->

        <button ref="approvalStatusButton"
          v-if="approval.iconCls" :title="approval.explain"
          class="btn btn-sm btn-secondary anno-approval-btn">
          <span class="button-caption">
            <span :class="approval.iconCls"
              >{{ approval.iconText }}</span>
            <span class="approved-at" v-if="approval.jsTs">
              <time class="approved-at" :datetime="approval.jsTs"
                >{{ dateFmt(approval.jsTs) }}</time>
            </span>
            <span v-if="uiModeApproval && (!approval.jsTs)"
              :title="l10n('date_time_unknown')">⛶</span>
          </span><!-- /.button-caption -->
        </button><!-- /ref="approvalStatusButton" -->

        <button class="btn btn-sm btn-secondary
          anno-creators
          "
          @click="toggleDetailBar"
          data-detailbar="creators"
          ><span class="button-caption" ref="creatorsList">
          <template v-for="aCreator of creatorsList">
            <span class="anno-creator">
              <template v-if="aCreator['as:icon']">
                <img class="media-object" style="display: inline;"
                  :src="aCreator['as:icon'].url"
                  :alt="aCreator['as:icon'].name"
                  width="15" height="15">
              </template>
              <template v-else>
                <i class="fa fa-user"></i>
              </template>
              <span class="name">{{
                formatters('agentNickname', aCreator)
                }}</span><span class="list-sep"
                :v-if="!aCreator['x-is-last-in-list']"
                >,</span>
            </span>
          </template>
          <template v-if="!creatorsList.length">
            <span class="no-creator">
              <i class="fa fa-user-secret"></i>
              {{ l10n('creator_none') }}
            </span>
          </template>
          </span><!-- .button-caption -->
        </button>
        <!-- 2021-08-20, Waterfox: Time must be its own button because
          title=… on a <time> tag inside a <button> tag had no effect. -->
        <button class="btn btn-sm btn-secondary
          anno-creation-time
          "
          :title="[
            (l10n('annofield_created') + ': ' + dateFmt(annotation.created)),
          ].join('\n')"
          @click="toggleDetailBar"
          data-detailbar="creation-date"
          ><span class="button-caption">
          <i class="fa fa-calendar"></i>
          <time class="created-at"
            :datetime="annotation.created"
            >{{
              dateFmt(annotation.created)
                || l10n('date_time_unknown')
              }}</time>
          </span><!-- .button-caption -->
        </button>

        <button class="btn btn-sm btn-secondary"
          @click="toggleDetailBar"
          data-detailbar="purl"
          :title="l10n('purl')"
          v-if="decideShowPurlButton()"
          >
          <span class="button-caption">
            <i class="fa fa-link"></i>
          </span><!-- .button-caption -->
        </button>

        <button class="btn btn-sm btn-secondary"
          v-if="hasRealPublicDoi || checkAclAuth({ isOwnAnno,
            privName: 'stamp_‹own›_add__ubhd_doiAssign' })"
          @click="toggleDetailBar"
          data-detailbar="doi"
          >
          <span class="button-caption">
            <template v-if="hasRealPublicDoi">
              <i class="fa fa-link"></i>
              {{ l10n('doi') }}
            </template>
            <template v-else>
              <i class="fa fa-cart-plus"></i>
              {{ l10n('toggle_doi_request_detailbar') }}
            </template>
          </span><!-- .button-caption -->
        </button>

        <button class="btn btn-sm btn-secondary"
          @click="toggleDetailBar"
          data-detailbar="license"
          :title="l10n('annofield_rights') + ': ' + licenseTitleOrUnknown"
          >
          <span class="button-caption">
            <template v-if="currentLicense.img_64x64">
              <img class="license-icon"
                :src="currentLicense.img_64x64"
                :alt="licenseTitleOrUnknown"
                >
            </template>
            <template v-else>{{ l10n('license_unknown_short') }}</template>
          </span><!-- .button-caption -->
        </button>

        <bootstrap-button icon-fa="print"
          v-if="$store.state.printViewButtonUrlTemplate"
          btn-class="default btn-secondary print-view-button"
          :linkUrl="assembleVersionRelatedUrl('printViewButton')"
          linkTarget="_blank"
          ></bootstrap-button>

        <button class="btn btn-sm btn-secondary
          frag-sel-btn
          "
          v-if="targetFragment"
          :title="$store.state.targetFragmentButtonTitle"
          ref="targetFragmentButton"
          @click.stop="targetFragmentButtonClicked"
          >
          <span class="button-caption">
            <i class="fa fa-indent"></i>
            {{ targetFragment }}
          </span><!-- .button-caption -->
        </button>

      </div><!-- .btn-group -->
    </div><!-- role="toolbar" -->

    <div ref="detailbars" class="detailbars">

      <dl class="detailbar-creators"><dt>
        {{ l10n('anno_created_by') }}:
      </dt><dd>
        <ul v-if="creatorsList.length" class="authors-list">
          <li class="agent-description"
            v-for="(agent, aidIndex) in creatorsList"
            :key="agent.id || ('invalid:' + aidIndex)"
            :data-agentid="agent.id || ''"
            ><agent-profile-bulletable :agent="agent" /></li>
        </ul>
        <p v-else class="no-creator">
          <i class="fa fa-user-secret"></i>
          {{ l10n('creator_none') }}
        </p>
      </dd></dl>

      <dl class="detailbar-creation-date">
        <dt>{{ l10n('annofield_created') }}:</dt>
        <dd>{{ dateFmt(annotation.created) || '&nbsp;' }}</dd>
      </dl>

      <dl class="detailbar-purl">
        <dt-url-caption-link
          :caption="l10n('purl')"
          :url="purl"
          />
      </dl>

      <dl class="detailbar-license"><dt @click="applyDebugCheats">
        {{ l10n('annofield_rights') }}: {{ licenseTitleOrUnknown }}
      </dt><dd>
        {{ l10n(currentLicense.user_desc) || l10n('license_no_descr') }}
      </dd></dl>

      <dl class="detailbar-doi">
        <template v-if="hasRealPublicDoi">
          <dt-url-caption-link
            v-show="latestVersionDoiUri"
            :textBefore="doiLinkPreviewWarning"
            :caption="l10n('doi.of.annotation')"
            :url="latestVersionDoiUri"
            />
          <dt-url-caption-link
            :textBefore="doiLinkPreviewWarning"
            :caption="l10n('doi.of.annotation.version')"
            :url="currentVersionDoiUri"
            />
        </template>
        <template v-if="!hasRealPublicDoi">
          <!-- We have mintDoi permission, because with neither that nor
               a DOI, the detailbar would be hidden. -->
          <dt>
            <div role="group" class="btn-group btn-group-sm">
              <button @click="askConfirmationToMintDoi" :class="[
                  'btn btn-default btn-outline-secondary btn-sm',
                  'mint-doi-button',
                  (approval.active ? '' : 'unapproved'),
                ].filter(Boolean)"
              >
                <i class="fa fa-link"></i>
                {{ l10n('mint_doi') }}
              </button>
            </div><!-- /.btn-group -->
          </dt>
          <dd>{{ mintDoiMsg }}</dd>
        </template>
      </dl>
    </div><!-- .detailbars -->

    <div v-if="annotation[':ANNO_FE:replyRefNum']" class="
      card-body panel-body
      anno-reply-refnum
      ">
      <p>{{ replyRefNumText() }}</p>
    </div>


    <div v-if="maybeUpdateMetaContextHints().length"
      class="border border-info text-default meta-context-hints-box">
      <div v-for="mch in metaContextHintsCache"
        :class="'position-relative meta-context-hint ' + mch.cls"
        >
        <i :class="'fa fa-' + mch.faIcon"></i>
        <div class="pad">
          <span class="intro">{{ mch.introText }}</span>
          <a :href="mch.linkUrl" :target="mch.linkFrame"
            >{{ mch.linkText }}</a>
        </div><!-- /.pad -->
      </div>
    </div><!-- /.border -->

    <div class="media anno-main-content-wrapper">
      <div class="media-body anno-main-content">
        <h4 class="media-heading" v-if="asReply">
          <span class="purl-heading-pointer"
            v-if="legacyPurlHighlight"></span>
          {{ title }}
        </h4>

        <div v-if="firstHtmlBody"
          class="first-html-body"
          v-html="firstHtmlBody.value"></div>

        <template v-for="linkingBodies in [preparsePurposeTagBodies('linking')]">
          <h5 v-if="linkingBodies.length"><span class="fa fa-link"></span>
            {{ l10n('relationlinks') }}</h5>
          <ul v-if="linkingBodies.length">
            <li v-for="rlb in linkingBodies"
              :data-predicate="rlb.predicate"
              :data-href="rlb.url"
              :data-title="rlb.caption"
              >
              <span v-if="rlb.error && showEditPreviewWarnings" class="
                anno-editor-error
                anno-error-annotation-problems
                danger
                ">&#x26A0; {{rlb.error}} &#x26A0;</span>

              <span class="relation-predicate"
                ><a class="relation-predicate"
                  :data-="(rlb.predicate || 'about:blank')"
                  :href="(rlb.predicate || 'about:blank')"
                  target="_blank" rel="noopener noreferrer"
                  >{{ determinePredicateCaption(rlb.predicate)
                  }}</a></span>
              <span class="
                anno-editor-error
                anno-error-no-link-url
                danger
                " v-if="!rlb.url">&#x26A0; {{ l10n('missing_required_field')
                  }}{{ l10n('relationlink_url') }} &#x26A0;</span>
              <a :href="rlb.url || 'about:blank'" :title="rlb.caption"
                target="_blank" rel="noopener noreferrer">
                <!-- i class="fa fa-tag"></i -->
                {{ rlb.caption || rlb.url
                  || ('\u26A0 ' + l10n('missing_required_field')
                    + ' ' + l10n('relationlink_url') + ' \u26A0')
                }}
              </a>
            </li>
          </ul>
        </template>

        <div class="annoeditor-tags semantic-tags">
          <a v-for="semtagBody in preparsePurposeTagBodies('classifying')"
            :href="semtagBody.url || 'about:blank'"
            :title="semtagBody.caption"
            target="_blank" rel="noopener noreferrer">
            <span class="annoeditor-tag label label-primary">
              <i class="fa fa-tag"></i>
              {{ semtagBody.caption || semtagBody.url }}
            </span>
          </a>
        </div>

        <div class="annoeditor-iiif-link"
          v-if="$store.state.iiifUrlTemplate && svgTarget"
          ><strong>{{ l10n('iiif_link') }}:</strong>
          <a class="render-iiif-link"
            role="button"
            v-show="!cachedIiifLink"
            @click="renderIiifLink"
            >{{ l10n('calculate_now') }}</a>
          <span class="cached-iiif-link" v-show="cachedIiifLink">
            <a :href="cachedIiifLink"
              class="url-caption-link"
              target="_blank" rel="noopener noreferrer"
              >{{ cachedIiifLink }}</a>
          </span>
        </div>

      </div><!-- /class="media-body" -->
    </div><!-- /class="media" -->

    <!-- navigation -->

    <div class="navigation-separator"></div>
    <div role="toolbar" class="btn-toolbar
      pull-right
      anno-body-buttonbar
      anno-body-buttonbar-bottom
      ">
      <div role="group"
        class="btn-group btn-group-sm"

        ><bootstrap-button
          @click="approve"
          btn-class="default btn-outline-secondary"
          icon-fa="unlock"
          v-if="uiModeApproval && checkAclAuth({ isOwnAnno,
            privName: 'stamp_‹own›_add_dc_dateAccepted' })"
          :disabled="approval.active"
          >
          {{ l10n('approve_anno') }}
        </bootstrap-button

        ><bootstrap-button @click="revise"
          btn-class="default btn-outline-secondary"
          v-if="editable" :icon-fa="editable.icon"
          >{{ l10n(editable.voc) }}
        </bootstrap-button

        ><bootstrap-button v-else @click="revise" caption="⚙" btn-class="
          default btn-outline-secondary
          debug-feature debug-button-force-edit
          ">
        </bootstrap-button

        ><bootstrap-button
          @click="reply"
          btn-class="default btn-outline-secondary"
          icon-fa="reply"
          v-if="approval.active && checkAclAuth('reply')">
          {{ l10n('compose_reply') }}
        </bootstrap-button

        ><bootstrap-button
          @click="unpublish"
          btn-class="default btn-outline-danger btn-outline-secondary"
          :icon-text="approval.active ? unicodeIcons.trash : unicodeIcons.reject"
          irrevocable-confirm
          v-if="uiModeApproval && checkAclAuth({ isOwnAnno,
            privName: 'stamp_‹own›_add_as_deleted' })">
          {{ l10n(approval.active ? 'unpublish_anno' : 'disapprove_anno') }}
        </bootstrap-button

        ><bootstrap-button
          :btn-class="[
            'default',
            'btn-outline-secondary',
            'version-history-button',
            (otherVersionsExist() ? 'has' : 'no') + '-other-versions',
          ]"
          icon-fa="history"
          :linkUrl="assembleVersionRelatedUrl('versionsButton')"
          linkTarget="_blank"
          v-if="isListViewItem"
          >{{ otherVersionsExist()
            ? l10n('versions_dropdown_more')
            : l10n('versions_dropdown_only') }}
        </bootstrap-button

      ></div><!-- .btn-group -->

    </div><!-- role="toolbar" -->
    <div class="toolbar-end-clear" style="clear: both;"></div>

    <template v-if="(annotation[':ANNO_FE:replies'] || false).length">
      <div class="comment-separator"></div>
      <anno-viewer
        v-for="subAnno in annotation[':ANNO_FE:replies']"
        :key="subAnno.id /* Anno ID of nested anno */"
        as-reply
        :purl-id="purlId"
        :annotation="subAnno"
        />

    </template>
  </div><!-- /.panel-body role="tabpanel" -->
</div>
