<span class="version-chooser-wrapper">
  <select ref="chooser" v-if="api.getVersions()"
    v-model="choice.verNum"
    @change="chooserChanged($event)"
    >
    <option value="0">{{ l10n('latest_version')
      }} = #{{ api.getVersions().latestVerNum || l10n('no_data') }}</option>
    <option v-for="ver in api.getVersions()" :value="ver.verNum">
      <span class="versnum"><span class="numsign"
        >#</span>{{ ver.verNum }}</span>
      <span class="versdate"><span class="sep">&nbsp; </span>{{
        dateFmt(ver.anno.created) || l10n('date_time_unknown') }}</span>
      <span class="verssunset" v-if="ver.sunsetVoc"
        ><span class="sep">&nbsp; </span>&#x26D4; {{ l10n(ver.sunsetVoc) }}
        {{ dateFmt(ver.sunsetDate) || l10n('date_time_unknown') }}</span>
      <span class="vershint" v-if="ver.anno['skos:note']"><span class="sep"
        >&nbsp; </span>{{ ver.anno['skos:note'] }}</span>
    </option>
  </select>
  <select v-else class="ver-list-loading"
    ><option selected>{{ l10n('anno_list:loading') }}</option></select>
</span>
