.annoeditor-html-editor {

  .btn.active { background-color: #900; }
  .ql-editor { min-height: 200px; }

  & > .panel-body { overflow-y: auto; } /*
    Workaround for overly-tall HTML editor */

  .row .col label { margin-top: 0.5em; }

}
