.annoeditor-html-editor {

  .ql-picker.ql-size .ql-picker-item[data-value="large"],
  .ql-picker.ql-size .ql-picker-item[data-value="huge"],
  fx#disabled-editor-features { display: none; }

  .btn.active { background-color: #900; }
  .ql-editor { min-height: 200px; }

  & > .panel-body { overflow-y: auto; } /*
    Workaround for overly-tall HTML editor */

  .row .col label { margin-top: 0.5em; }

  /* *** BEGIN *** Hotfix for Quill popups outside visible area */
  .ql-tooltip { left: 1em !important; top: -1em !important; }
  .ql-tooltip.ql-flip { transform: unset !important; }
  /* *** ENDOF *** Hotfix for Quill popups outside visible area */

}
