.anno-editor-modal-dialog {

  @media (min-width: 768px) { .modal-lg { max-width: 720px; } }
  @media (min-width: 1020px) { .modal-lg { max-width: 960px; } }

  .panel-body {
    padding: 0.5em;

    .row {
      margin: 0.25em 0;

      & > [class^="col-md-"]:first-child { padding-left: 0; }
      & > [class^="col-md-"]:last-child { padding-right: 0; }
    }
  }

  .modal-footer {
    z-index: 5;
  }
}
