<div
  :class="[
    'row',
    'border',
    (colorCls || 'border-primary text-default'),
    'mb-4',
    'msgbox-row',
    ].concat(msg.topicCls).filter(Boolean)"
  v-show="!!msg.text"
  >
  <div class="scroll-offset" ref="scrollOffset"></div>
  <div
    :class="[
      'col-xl',
      'msgbox-col',
      ].concat(msg.topicCls).filter(Boolean)"
    >
    <p class="m-1">
      <span v-show="msg.maybeIcon" class="icon">{{ msg.maybeIcon }}</span>
      <span v-show="title" class="title">{{ title }}</span>
      {{ msg.textPre }}{{ msg.text }}{{ msg.textSuf }}
      <span class="timestamp" v-if="msg.timestamp">{{ msg.timestamp }}</span>
    </p>
  </div>
  <div class="col-sm-1">
    <bootstrap-button @click="dismiss"
      btn-class="close pull-right"
      aria-label="Close"
      icon-fa="close"
      />
  </div>
</div>
